<div class="page-wraper">
  <div id="loading-area" class="d-none" style="background:url('/assets/india-flag.jpg') no-repeat center center fixed; background-size:cover">
    <div class="ml4 text-center" style="padding-top:175px">
      <img src="https://sainikschooljhansi.com/img/SSJ-Logo.png" style="height:250px; width:auto;padding-bottom:20px;" />
      <p class="loadingtitle">
        Sainik School Shakuntlam Etawah
      </p>
    </div>
  </div>
  <div class="action-area marquee-head marquee">
    <ul>
      <% @vacancies.each do |vacancy|%>
        <li>
          <a href="javascript:void;" target="_blank" class="text-uppercase"
            data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="<%= vacancy.document.url %>">
          <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%><%= vacancy.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- Content -->
  <div class="page-content">
    <div class="row">
      <!-- Main Slider -->
      <div class="col-lg-8 col-12 pl-0 pr-0 d-none d-lg-block d-md-block">
        <div class="owl-slider owl-carousel owl-theme owl-btn-center-lr dots-none wow fadeInDown" data-wow-delay="0.2s" style="max-height:470px;overflow:hidden">
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="index.html" target="_blank">
              	<%= image_tag('logo.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>
              <%# <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20231223_7woyErF5u7.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" /> %>
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="/" target="_blank">
              	<%= image_tag('building1.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="/" target="_blank">
              	<%= image_tag('slide4.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="/" target="_blank">
              	<%= image_tag('slide3.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>

              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 pl-0 pr-0">
        <div class="action-box">
          <div class="head">
            <h4 class="title text-center text-uppercase">Announcements</h4>
          </div>
          <div class="action-area marquee1">
            <ul>
              <% @vacancies.each do |vacancy|%>
                <li>
                  <a href="javascript:void;" target="_blank" class="text-uppercase"
                    data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="<%= vacancy.document.url %>">
                  <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%><%= vacancy.name %></a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="p-3 text-center border-top">
            <a href="<%= home_vacancy_path %>" class="btn btn-sm">View All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <!-- About Us -->
      <div class="section-full content-inner-2 wow fadeInDown" data-wow-delay="0.2s" style="background:url(/assets/india-flag.jpg) no-repeat center center fixed; background-size:cover">
        <div class="container">
          <div class="section-head text-center">
            <h2 class="title text-uppercase text-brown">
              Welcome to SAINIK SCHOOL SHAKUNTLAM ETAWAH
            </h2>
            <div class="dlab-separator bg-brown"></div>
            <p class="text-uppercase font-weight-600">
              SAINIK SCHOOL SHAKUNTLAM ETAWAH is functioning under Sainik School Society, Ministry of Defence, Government of India. The school has a local board of administration (LBA) under the chairmanship of Maj Gen M K Mathur,
              GOC, 31 Armd Div.
            </p>
          </div>
          <div class="row align-items-center about-bx2">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="border shadow p-2 rounded bg-white">
                <a href="https://sainikschooljhansi.com/images/pageimg/PR_20230731_ZzfdsxRW2X.jpg" data-fancybox data-caption="Principal - Lt Col Prashasti Chouhan">
                	<%= image_tag "principal.jpg" %>
                </a>
              </div>
              <h4 class="title text-brown text-center pt-2">
                Principal<br />
                MRS. VARSHA SINGH<br />
                <a href="#-" class="btn btn-sm">Know about our principal</a>
              </h4>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="about-box">
                <h4 class="text-brown text-uppercase text-center">
                  Constitution of LBA
                </h4>
                <table class="table table-bordered table-hover text-uppercase font-weight-600">
                  <tr>
                    <td>GOC 31 Armd Div.</td>
                    <td>Chairman</td>
                  </tr>
                  <tr>
                    <td>Member of Parliament</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>District Magistrate</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>DIOS - JHANSI</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Principal APS Jhansi</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Principal Jawahar Navodaya Vidyalaya Jhansi</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Executive Engineer, UP PWD</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Offg. Principal Sainik School Jhansi</td>
                    <td>Member Secretary</td>
                  </tr>
                </table>
                <p class="text-center">
                  <a href="<%= home_about_us_path %>" class="btn">
                  Read More<i class="fa fa-long-arrow-right ml-2"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="section-head text-center pt-5">
            <h2 class="title text-brown">Discover More</h2>
            <div class="dlab-separator bg-brown"></div>
          </div>
          <div class="row">
            <div class="courses-carousel owl-carousel owl-btn-center-lr owl-btn-2 col-md-12 p-lr0">
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">hall of fame</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">bog & lba</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">campus</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">academics</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">study material</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">school magazine</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">news letter</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">cbse circulars</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full bg-white content-inner-2 about-content overlay-black-middle" style="background-image:url(/assets/building1.jpg);background-size:cover;background-position:center;background-attachment:fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 wow fadeIn about-text" data-wow-delay="0.2s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
              <div class="text-center">
                <a href="https://www.youtube.com/watch?v=xrCRT4zYmz0" data-fancybox class="text-white">
                <i class="fa fa-5x fa-youtube-play"></i>
                </a>
                <h2 class="text-warning text-uppercase">
                  Sainik School Shakuntlam Etawah <br />
                  Video Tour
                </h2>
                <a href="https://www.youtube.com/watch?v=xrCRT4zYmz0" data-fancybox class="btn radius-xl">Start Tour</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full content-inner-2" style="background: orange url(/assets/pattern10.png) fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="action-box">
                <div class="head">
                  <h4 class="title text-center text-uppercase">Website Links</h4>
                </div>
                <div class="action-area">
                  <ul class="event-bx text-uppercase" style="height:300px">
                    <li>
                      <a href="https://sainikschoolsociety.in/" target="_blank">Sainik School Society</a>
                    </li>
                    <li>
                      <a href="https://indianarmy.nic.in/" target="_blank">Indian Army</a>
                    </li>
                    <li>
                      <a href="https://indianairforce.nic.in/" target="_blank">Indian Air Force</a>
                    </li>
                    <li>
                      <a href="https://www.joinindiannavy.gov.in/" target="_blank">Indian Navy</a>
                    </li>
                  </ul>
                </div>
                <div class="p-3 text-center border-top">
                  <a href="javascript:void" class="btn btn-sm">View All</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="action-box">
                <div class="head">
                  <h4 class="title text-center text-uppercase">Useful Links</h4>
                </div>
                <div class="action-area marquee1">
                  <ul class="event-bx">
                    <li>
                      <a href="https://aissee.nta.nic.in/" target="_blank" class="text-uppercase">
                      All India Sainik School Entrance Exam (AISSEE)-2022<br/>Last Date: 08-10-2021											</a>
                    </li>
                    <li>
                      <a href="https://www.cbse.gov.in/" target="_blank" class="text-uppercase">
                      CBSE - Central Board of Secondary Education<br/>Last Date: 13-10-2021											</a>
                    </li>
                    <li>
                      <a href="https://sainikschooljhansi.com/recruitment" target="_blank" class="text-uppercase">
                      LIST OF SHORTLISTED CANDIDATES FOR VARIOUS POSTS: PHASE II (CLASS DEMONSTRATION, SKILL TEST & INTERVIEW) <br/>Last Date: 07-10-2022											</a>
                    </li>
                    <li>
                      <a href="https://examinationservices.nic.in/examsys22/root/Home.aspx?enc=WPJ5WSCVWOMNiXoyyomJgNJ12TgFb0How7vAp8qobtHBJock6OdAUHq3EwQOM9KO" target="_blank" class="text-uppercase">
                      ALL INDIA SAINIK SCHOOLS ENTRANCE EXAMINATION (AISSEE)-2023<br/>Last Date: 30-11-2022											</a>
                    </li>
                    <li>
                      <a href="https://www.nvsp.in/" target="_blank" class="text-uppercase">
                      Registration of new voters<br/>Last Date: 16-12-2022											</a>
                    </li>
                    <li>
                      <a href="https://ntaresults.nic.in/resultservices/authAISSEE2022" target="_blank" class="text-uppercase">
                      Result-All India Sainik School Entrance Exam (AISSEE)- 2022<br/>Last Date: 25-02-2023											</a>
                    </li>
                  </ul>
                </div>
                <div class="p-3 text-center border-top">
                  <a href="https://sainikschooljhansi.com/usefullinks" class="btn btn-sm">View All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full content-inner-2" style="background: #e5e5e5 url(/assets/pattern10.png) fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="section-head text-center">
                <h2 class="title text-brown text-uppercase">Video Albums</h2>
                <div class="dlab-separator bg-brown"></div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=Ma1L-akIZYU" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Motivational Speech By Maj Gen Mk Mathur, Goc 31 Armd Div & Chairman Lba On Teacher's Day 2023													<br />
                          Date:05-09-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=xZzroZB1SZ8" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Motivational Speech By Brig Vivek Singh Thakur , S M On Indepedance Day Celebration 2023													<br />
                          Date:15-08-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 text-center border-top">
                <a href="https://sainikschooljhansi.com/videogallery" class="btn btn-sm">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full content-inner pb-5" style="background-image:url(/assets/pattern2.png); background-attachment:fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="section-head text-center text-uppercase">
                <h2 class="title text-orange">School Infrastructure</h2>
                <div class="dlab-separator bg-orange"></div>
              </div>
              <div class="client-logo-bx owl-carousel owl-btn-center-lr owl-btn-2">
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/smart-classroom">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_SMARTCLASSROOM_43127580.jpeg" alt="smart classroom Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    smart classroom												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/library">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_LIBRARY_28835803.jpeg" alt="library Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    library												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/playground">
                    <img src="https://sainikschooljhansi.com/images/infra/playground.jpg" alt="playground Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    playground												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/basketball-court">
                    <img src="https://sainikschooljhansi.com/images/infra/basketball.jpg" alt="basketball court Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    basketball court												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/hostel">
                    <img src="https://sainikschooljhansi.com/images/infra/hostel.jpg" alt="hostel Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    hostel												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/counsellor-room">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_COUNSELLORROOM_46795857.jpeg" alt="counsellor room Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    counsellor room												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/staff-room">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_STAFFROOM_56786539.jpeg" alt="staff room Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    staff room												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/dining-hall">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_DININGHALL_13955298.jpeg" alt="dining hall Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    dining hall												</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="section-full bg-orange content-inner-2 about-bx" style="background:orange url(https://sainikschooljhansi.com/img/patterns/pattern10.png)">
          <div class="container">
            <div class="section-head text-center">
              <h2 class="title text-brown">Event Photo Gallery</h2>
              <div class="dlab-separator bg-brown"></div>
            </div>
            <div class="courses-carousel-2 owl-carousel owl-btn-center-lr owl-btn-2">
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/annual-cultural-evening-202324">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231225_23106167.jpeg" alt="ANNUAL CULTURAL EVENING 2023-24" />
                    <div class="text-center pt-2">
                      <strong>ANNUAL CULTURAL EVENING 2023-24<br />Date:25-12-2023</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/annual-athletic-meet-202324">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231219_41014686.jpeg" alt="Annual Athletic Meet 2023-24" />
                    <div class="text-center pt-2">
                      <strong>Annual Athletic Meet 2023-24<br />Date:
                      19-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/horse-riding-activity">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231207_92604212.jpeg" alt="Horse Riding Activity" />
                    <div class="text-center pt-2">
                      <strong>
                      Horse Riding Activity												<br />
                      Date:
                      07-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="text-center pt-5">
              <a href="https://sainikschooljhansi.com/photogallery" class="btn">View All Events</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  	$('.marquee').marquee({
         speed: 40,
         gap: 0,
         delayBeforeStart: 0,
         direction: 'left',
         duplicated: false,
         pauseOnHover: true
     });
     $('.marquee1').marquee({
         speed: 40,
         gap: 0,
         delayBeforeStart: 0,
         direction: 'up',
         duplicated: false,
         pauseOnHover: true
     });

    $('[data-fancybox]').fancybox({
      toolbar: true,
      smallBtn: "auto",
      buttons: [
          "zoom",
          "share",
          "slideShow",
          "fullScreen",
          "download",
          "thumbs",
          "close"
      ],
      btnTpl: {
          'my-zoom': '<button class="fancybox-button" title="{{ZOOM}}">+/-</button>'
      },
      image: {
          preload: true
      },
     clickOutside: "close",
  });
  })
</script>
<script>
  $.fn.extend({
      treed: function (o) {
          var tree = $(this);
          tree.addClass("tree");
          tree.find('li').has("ul").each(function () {
              var branch = $(this); //li with children ul
              branch.addClass('branch');
              $(this).children().children().toggle();
              branch.children().children().toggle();
          });
      }
  });
  //Initialization of treeviews
  $('#tree1').treed();
          
</script>