<div class="page-wraper">
  <div id="loading-area" class="d-none" style="background:url('/assets/india-flag.jpg') no-repeat center center fixed; background-size:cover">
    <div class="ml4 text-center" style="padding-top:175px">
      <img src="https://sainikschooljhansi.com/img/SSJ-Logo.png" style="height:250px; width:auto;padding-bottom:20px;" />
      <p class="loadingtitle">
        Sainik School Shakuntlam Etawah
      </p>
    </div>
  </div>
  <%# <div class="modal fade" id="paymentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:999999">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header rounded-0 bg-brown">
          <h5 class="modal-title text-white" id="exampleModalLabel">Online Fees Payment</h5>
          <button type="button" class="close bg-white p-2 mt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h6>Scan QR Code</h6>
          <img src="https://sainikschooljhansi.com/img/feeslink-qr.png" alt="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm"/>
          <a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm" target="_blank" class="btn btn-brown mt-2">Go to payment link</a>
        </div>
      </div>
    </div>
  </div> %>
  <!-- header END -->
  <div class="action-area marquee-head marquee">
    <ul>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240128_6599093e14795.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>RECRUITMENT OF PGT, TGT AND LAB ASSISTANT ON TEMPORARY BASIS LAST DATE : 28-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240128_6598fb21b2c8f.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>NON PAYMENT OF 3RD INSTALLMENT FOR THE AY 2023-24 : 28-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869dc705295.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS X : 14-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869d6a3270c.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS IX : 14-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869d483b9c0.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS VIII : 14-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869d1d04cb7.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS VII : 14-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869cfb9ad16.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS VI : 14-01-2024					</a>
      </li>
      <li>
        <a href="https://innovateindia.mygov.in/ppc-2024/#list-item-4" target="_blank" class="text-uppercase">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>PARIKSHA PE CHARCHA CONTEST 2024 : 11-01-2024					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20231218_658030c68c218.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>RESULT FOR NOMINATION OF LBA MEMBER (DEC 2023-DEC 2024)[RESCHEDULED-II] : 18-12-2023					</a>
      </li>
      <li>
        <a href="javascript:void;" target="_blank" class="text-uppercase"
          data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20231213_65797d265a903.pdf">
        <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>RESULT FOR NOMINATION OF LBA MEMBER (DEC 2023-DEC 2024)[RESCHEDULED] : 13-12-2023					</a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div class="page-content">
    <div class="row">
      <!-- Main Slider -->
      <div class="col-lg-8 col-12 pl-0 pr-0 d-none d-lg-block d-md-block">
        <div class="owl-slider owl-carousel owl-theme owl-btn-center-lr dots-none wow fadeInDown" data-wow-delay="0.2s" style="max-height:470px;overflow:hidden">
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="index.html" target="_blank">
              	<%= image_tag('logo.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>
              <%# <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20231223_7woyErF5u7.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" /> %>
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="index.html" target="_blank">
              	<%= image_tag('building1.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="index.html" target="_blank">
              	<%= image_tag('slide4.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="index.html" target="_blank">
              	<%= image_tag('slide3.jpg', class: "img-fluid", alt: "", style: "height:462px; width:100%") %>

              </a>
            </div>
          </div>
          <%# <div class="item slide-item">
            <div class="slide-item-img">
              <a href="https://innovateindia.mygov.in/ppc-2024/#list-item-4" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20231220_REa2MmbXgh.png" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="https://drive.google.com/file/d/1kVyRktGvtQVMfxRGHSYLn74ytWne-jZu/view?usp=sharing" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20231212_udr56nvwIJ.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="album/national-children-science-congress-competitionstate-level-.html" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20231207_qCsh5xvGJf.jpeg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="https://aissee.ntaonline.in/" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20231120_bM8TGlxxrx.png" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="images/photogallery/IMG_20230815_51822568.jpg" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/HOMESLIDER_20230907_nE8hSHwxvx.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="#" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/IMG_62296938.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="#" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/IMG_76748453.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div>
          <div class="item slide-item">
            <div class="slide-item-img">
              <a href="#" target="_blank">
              <img src="https://sainikschooljhansi.com/images/homeslider/IMG_33503047.jpg" class="img-fluid" style="height:462px; width:100%" alt="Sainik School Jhansi Banner Image" />
              </a>
            </div>
          </div> %>
        </div>
      </div>
      <!-- Main Slider Mobile -->

      <div class="col-lg-4 col-12 pl-0 pr-0">
        <div class="action-box">
          <div class="head">
            <h4 class="title text-center text-uppercase">Announcements</h4>
          </div>
          <div class="action-area marquee1">
            <ul>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240128_6599093e14795.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>RECRUITMENT OF PGT, TGT AND LAB ASSISTANT ON TEMPORARY BASIS LAST DATE : 28-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240128_6598fb21b2c8f.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>NON PAYMENT OF 3RD INSTALLMENT FOR THE AY 2023-24 : 28-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869dc705295.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS X : 14-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869d6a3270c.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS IX : 14-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869d483b9c0.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS VIII : 14-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869d1d04cb7.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS VII : 14-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20240114_65869cfb9ad16.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>HOLIDAY HOMEWORK FOR CLASS VI : 14-01-2024									</a>
              </li>
              <li>
                <a href="https://innovateindia.mygov.in/ppc-2024/#list-item-4" target="_blank" class="text-uppercase">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>PARIKSHA PE CHARCHA CONTEST 2024 : 11-01-2024									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20231218_658030c68c218.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>RESULT FOR NOMINATION OF LBA MEMBER (DEC 2023-DEC 2024)[RESCHEDULED-II] : 18-12-2023									</a>
              </li>
              <li>
                <a href="javascript:void;" target="_blank" class="text-uppercase"
                  data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/newsevents/NEWS_20231213_65797d265a903.pdf">
                <%= image_tag "blinking_new.gif", alt:"New", style:"height:18px;width:auto"%>RESULT FOR NOMINATION OF LBA MEMBER (DEC 2023-DEC 2024)[RESCHEDULED] : 13-12-2023									</a>
              </li>
            </ul>
          </div>
          <div class="p-3 text-center border-top">
            <a href="https://sainikschooljhansi.com/newsevents" class="btn btn-sm">View All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <!-- About Us -->
      <div class="section-full content-inner-2 wow fadeInDown" data-wow-delay="0.2s" style="background:url(/assets/india-flag.jpg) no-repeat center center fixed; background-size:cover">
        <div class="container">
          <div class="section-head text-center">
            <h2 class="title text-uppercase text-brown">
              Welcome to SAINIK SCHOOL SHAKUNTLAM ETAWAH
            </h2>
            <div class="dlab-separator bg-brown"></div>
            <p class="text-uppercase font-weight-600">
              SAINIK SCHOOL SHAKUNTLAM ETAWAH is functioning under Sainik School Society, Ministry of Defence, Government of India. The school has a local board of administration (LBA) under the chairmanship of Maj Gen M K Mathur,
              GOC, 31 Armd Div.
            </p>
          </div>
          <div class="row align-items-center about-bx2">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="border shadow p-2 rounded bg-white">
                <a href="https://sainikschooljhansi.com/images/pageimg/PR_20230731_ZzfdsxRW2X.jpg" data-fancybox data-caption="Principal - Lt Col Prashasti Chouhan">
                	<%= image_tag "principal.jpg" %>
                </a>
              </div>
              <h4 class="title text-brown text-center pt-2">
                Principal<br />
                MRS. VARSHA SINGH<br />
                <a href="#-" class="btn btn-sm">Know about our principal</a>
              </h4>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="about-box">
                <h4 class="text-brown text-uppercase text-center">
                  Constitution of LBA
                </h4>
                <table class="table table-bordered table-hover text-uppercase font-weight-600">
                  <tr>
                    <td>GOC 31 Armd Div.</td>
                    <td>Chairman</td>
                  </tr>
                  <tr>
                    <td>Member of Parliament</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>District Magistrate</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>DIOS - JHANSI</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Principal APS Jhansi</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Principal Jawahar Navodaya Vidyalaya Jhansi</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Executive Engineer, UP PWD</td>
                    <td>Member</td>
                  </tr>
                  <tr>
                    <td>Offg. Principal Sainik School Jhansi</td>
                    <td>Member Secretary</td>
                  </tr>
                </table>
                <p class="text-center">
                  <a href="<%= home_about_us_path %>" class="btn">
                  Read More<i class="fa fa-long-arrow-right ml-2"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="section-head text-center pt-5">
            <h2 class="title text-brown">Discover More</h2>
            <div class="dlab-separator bg-brown"></div>
          </div>
          <div class="row">
            <div class="courses-carousel owl-carousel owl-btn-center-lr owl-btn-2 col-md-12 p-lr0">
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    hall of fame										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    bog & lba										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    campus										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    academics										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    study material										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    school magazine										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    news letter										</a>
                  </h2>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx">
                  <h2 class="title text-uppercase">
                    <a href="#" target="_blank">
                    cbse circulars										</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full bg-white content-inner-2 about-content overlay-black-middle" style="background-image:url(/assets/building1.jpg);background-size:cover;background-position:center;background-attachment:fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 wow fadeIn about-text" data-wow-delay="0.2s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
              <div class="text-center">
                <a href="https://www.youtube.com/watch?v=xrCRT4zYmz0" data-fancybox class="text-white">
                <i class="fa fa-5x fa-youtube-play"></i>
                </a>
                <h2 class="text-warning text-uppercase">
                  Sainik School Shakuntlam Etawah <br />
                  Video Tour
                </h2>
                <a href="https://www.youtube.com/watch?v=xrCRT4zYmz0" data-fancybox class="btn radius-xl">Start Tour</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full content-inner-2" style="background: orange url(/assets/pattern10.png) fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="action-box">
                <div class="head">
                  <h4 class="title text-center text-uppercase">Website Links</h4>
                </div>
                <div class="action-area">
                  <ul class="event-bx text-uppercase" style="height:300px">
                    <li>
                      <a href="https://sainikschoolsociety.in/" target="_blank">Sainik School Society</a>
                    </li>
                    <li>
                      <a href="https://indianarmy.nic.in/" target="_blank">Indian Army</a>
                    </li>
                    <li>
                      <a href="https://indianairforce.nic.in/" target="_blank">Indian Air Force</a>
                    </li>
                    <li>
                      <a href="https://www.joinindiannavy.gov.in/" target="_blank">Indian Navy</a>
                    </li>
                  </ul>
                </div>
                <div class="p-3 text-center border-top">
                  <a href="javascript:void" class="btn btn-sm">View All</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="action-box">
                <div class="head">
                  <h4 class="title text-center text-uppercase">Tenders</h4>
                </div>
                <div class="action-area marquee1">
                  <ul class="event-bx">
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220411_74564283.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Supply Of Science Laboratory Items<br/>Last Date: 11-04-2022 14:00 PM												</a>
                    </li>
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220401_17527364.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Supply Of Led Tv 65 Inch<br/>Last Date: 01-04-2022 14:00 PM												</a>
                    </li>
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220331_19425418.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Supply Of Headphones<br/>Last Date: 31-03-2022 14:00 PM												</a>
                    </li>
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220401_91563417.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Supply Of Multifunction Machine<br/>Last Date: 01-04-2022 18:00 PM												</a>
                    </li>
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220528_95522741.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Custom Bid For Services - Rate Contract For Catering Services<br/>Last Date: 28-05-2022 16:30 PM												</a>
                    </li>
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220725_15770759.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Bus Hiring Service<br/>Last Date: 25-07-2022 18:30 PM												</a>
                    </li>
                    <li>
                      <a href="javascript:void;" target="_blank" class="text-uppercase"
                        data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : true, "css" : {"width" : "100%"}}}' data-src="https://sainikschooljhansi.com/files/tenders/TDR_20220728_80390540.pdf">
                      <i class="fa fa-location-arrow mr-2"/></i>Supply Of Computer Accessories<br/>Last Date: 28-07-2022 14:30 PM												</a>
                    </li>
                  </ul>
                </div>
                <div class="p-3 text-center border-top">
                  <a href="https://sainikschooljhansi.com/tenders" class="btn btn-sm">View All</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="action-box">
                <div class="head">
                  <h4 class="title text-center text-uppercase">Useful Links</h4>
                </div>
                <div class="action-area marquee1">
                  <ul class="event-bx">
                    <li>
                      <a href="icfposhact.html" target="_blank" class="text-uppercase">
                      POSH ACT 2013 INTERNAL COMMITTEE FOR PREVENTION OF SEXUAL HARASSMENT OF WOMEN AT WORK PLACE<br/>Last Date: 16-09-2023											</a>
                    </li>
                    <li>
                      <a href="https://aissee.nta.nic.in/" target="_blank" class="text-uppercase">
                      All India Sainik School Entrance Exam (AISSEE)-2022<br/>Last Date: 08-10-2021											</a>
                    </li>
                    <li>
                      <a href="https://www.cbse.gov.in/" target="_blank" class="text-uppercase">
                      CBSE - Central Board of Secondary Education<br/>Last Date: 13-10-2021											</a>
                    </li>
                    <li>
                      <a href="https://sainikschooljhansi.com/recruitment" target="_blank" class="text-uppercase">
                      LIST OF SHORTLISTED CANDIDATES FOR VARIOUS POSTS: PHASE II (CLASS DEMONSTRATION, SKILL TEST & INTERVIEW) <br/>Last Date: 07-10-2022											</a>
                    </li>
                    <li>
                      <a href="https://examinationservices.nic.in/examsys22/root/Home.aspx?enc=WPJ5WSCVWOMNiXoyyomJgNJ12TgFb0How7vAp8qobtHBJock6OdAUHq3EwQOM9KO" target="_blank" class="text-uppercase">
                      ALL INDIA SAINIK SCHOOLS ENTRANCE EXAMINATION (AISSEE)-2023<br/>Last Date: 30-11-2022											</a>
                    </li>
                    <li>
                      <a href="https://www.nvsp.in/" target="_blank" class="text-uppercase">
                      Registration of new voters<br/>Last Date: 16-12-2022											</a>
                    </li>
                    <li>
                      <a href="https://ntaresults.nic.in/resultservices/authAISSEE2022" target="_blank" class="text-uppercase">
                      Result-All India Sainik School Entrance Exam (AISSEE)- 2022<br/>Last Date: 25-02-2023											</a>
                    </li>
                  </ul>
                </div>
                <div class="p-3 text-center border-top">
                  <a href="https://sainikschooljhansi.com/usefullinks" class="btn btn-sm">View All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full content-inner-2" style="background: #e5e5e5 url(/assets/pattern10.png) fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="section-head text-center">
                <h2 class="title text-brown text-uppercase">Video Albums</h2>
                <div class="dlab-separator bg-brown"></div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=Ma1L-akIZYU" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Motivational Speech By Maj Gen Mk Mathur, Goc 31 Armd Div & Chairman Lba On Teacher's Day 2023													<br />
                          Date:05-09-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=xZzroZB1SZ8" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Motivational Speech By Brig Vivek Singh Thakur , S M On Indepedance Day Celebration 2023													<br />
                          Date:15-08-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=NcOrps4Htw8" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Performance By Junior Cadets Of Sainik School Jhansi On Independence Day 2023													<br />
                          Date:16-08-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=cVfL24f5t1w" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Patriotic Mashup By Sainik School Jhansi Cadets  On Independence Day 2023 Celebration													<br />
                          Date:15-08-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=Oub0Y2dKVT8" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Girl Cadets Performance On Independence Day 2023 Celebration													<br />
                          Date:15-08-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="event-box">
                    <div class="event-media text-center">
                      <a href="https://www.youtube.com/watch?v=jnhaV026V6w" data-fancybox class="font-weight-600">
                        <i class="fa fa-3x fa-youtube-play text-danger"></i>
                        <h5 class="post-title">
                          Girls And Boys Cadets Performance On Independence Day 2023 Celebration													<br />
                          Date:15-08-2023												
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 text-center border-top">
                <a href="https://sainikschooljhansi.com/videogallery" class="btn btn-sm">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-full content-inner pb-5" style="background-image:url(/assets/pattern2.png); background-attachment:fixed">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="section-head text-center text-uppercase">
                <h2 class="title text-orange">School Infrastructure</h2>
                <div class="dlab-separator bg-orange"></div>
              </div>
              <div class="client-logo-bx owl-carousel owl-btn-center-lr owl-btn-2">
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/smart-classroom">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_SMARTCLASSROOM_43127580.jpeg" alt="smart classroom Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    smart classroom												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/library">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_LIBRARY_28835803.jpeg" alt="library Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    library												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/playground">
                    <img src="https://sainikschooljhansi.com/images/infra/playground.jpg" alt="playground Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    playground												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/basketball-court">
                    <img src="https://sainikschooljhansi.com/images/infra/basketball.jpg" alt="basketball court Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    basketball court												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/hostel">
                    <img src="https://sainikschooljhansi.com/images/infra/hostel.jpg" alt="hostel Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    hostel												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/counsellor-room">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_COUNSELLORROOM_46795857.jpeg" alt="counsellor room Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    counsellor room												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/staff-room">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_STAFFROOM_56786539.jpeg" alt="staff room Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    staff room												</span>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="client-bx text-center p-2">
                    <a href="https://sainikschooljhansi.com/infrastructure/dining-hall">
                    <img src="https://sainikschooljhansi.com/images/infra/LAB_DININGHALL_13955298.jpeg" alt="dining hall Image Not Found" />
                    <span class="text-uppercase font-weight-600 mt-2">
                    dining hall												</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="section-full bg-orange content-inner-2 about-bx" style="background:orange url(https://sainikschooljhansi.com/img/patterns/pattern10.png)">
          <div class="container">
            <div class="section-head text-center">
              <h2 class="title text-brown">Event Photo Gallery</h2>
              <div class="dlab-separator bg-brown"></div>
            </div>
            <div class="courses-carousel-2 owl-carousel owl-btn-center-lr owl-btn-2">
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/annual-cultural-evening-202324">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231225_23106167.jpeg" alt="ANNUAL CULTURAL EVENING 2023-24" />
                    <div class="text-center pt-2">
                      <strong>
                      ANNUAL CULTURAL EVENING 2023-24												<br />
                      Date:
                      25-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/annual-athletic-meet-202324">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231219_41014686.jpeg" alt="Annual Athletic Meet 2023-24" />
                    <div class="text-center pt-2">
                      <strong>
                      Annual Athletic Meet 2023-24												<br />
                      Date:
                      19-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/horse-riding-activity">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231207_92604212.jpeg" alt="Horse Riding Activity" />
                    <div class="text-center pt-2">
                      <strong>
                      Horse Riding Activity												<br />
                      Date:
                      07-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="album/national-children-science-congress-competitionstate-level-.html">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231205_89660318.jpeg" alt="National Children Science Congress Competition(State Level )" />
                    <div class="text-center pt-2">
                      <strong>
                      National Children Science Congress Competition(State Level )												<br />
                      Date:
                      05-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-basketball-championship-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231205_27456378.jpeg" alt="Inter House Basketball Championship 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      Inter House Basketball Championship 2023												<br />
                      Date:
                      05-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/establishing-selfie-point-and-taking-photographs-under-chandrayaan-3">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231128_34283740.jpeg" alt="Establishing Selfie Point and taking photographs under Chandrayaan 3" />
                    <div class="text-center pt-2">
                      <strong>
                      Establishing Selfie Point and taking photographs under Chandrayaan 3												<br />
                      Date:
                      28-11-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/childrens--day-celebration-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231114_84388698.jpeg" alt="Children's  Day Celebration 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      Children's  Day Celebration 2023												<br />
                      Date:
                      14-11-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/chandrayaan-3-success-celebration">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231213_PAi6TYkgfU.jpeg" alt="CHANDRAYAAN 3 Success Celebration" />
                    <div class="text-center pt-2">
                      <strong>
                      CHANDRAYAAN 3 Success Celebration												<br />
                      Date:
                      13-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/english-poetry-competition--theme-tiranga-under-chandrayaan-3-success">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231106_70667652.jpeg" alt="English Poetry Competition : Theme Tiranga Under CHANDRAYAAN 3 Success" />
                    <div class="text-center pt-2">
                      <strong>
                      English Poetry Competition : Theme Tiranga Under CHANDRAYAAN 3 Success												<br />
                      Date:
                      06-11-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/interhouse-maths-quiz-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231106_44045483.jpeg" alt="Interhouse Maths Quiz -2023" />
                    <div class="text-center pt-2">
                      <strong>
                      Interhouse Maths Quiz -2023												<br />
                      Date:
                      06-11-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/veer-gatha-30--motivational-speech-by-col-j-narhayanan-sm-and-col-sandeep">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231106_73835290.jpeg" alt="Veer Gatha 3.0 - Motivational speech by Col J Narhayanan SM and Col Sandeep" />
                    <div class="text-center pt-2">
                      <strong>
                      Veer Gatha 3.0 - Motivational speech by Col J Narhayanan SM and Col Sandeep												<br />
                      Date:
                      06-11-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/chandrayaan-3-success-celebrations">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231030_19646543.jpeg" alt="CHANDRAYAAN 3 SUCCESS CELEBRATIONS" />
                    <div class="text-center pt-2">
                      <strong>
                      CHANDRAYAAN 3 SUCCESS CELEBRATIONS												<br />
                      Date:
                      30-10-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/special-assembly-to-honour-the-selected-cadets-at-district-level-national-child-science-congress-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231028_65576607.jpeg" alt="Special Assembly To Honour the selected Cadets at District Level National Child Science Congress 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      Special Assembly To Honour the selected Cadets at District Level National Child Science Congress 2023												<br />
                      Date:
                      28-10-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/celebration-of-dussehra-festival">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231024_50436338.jpeg" alt="Celebration of Dussehra Festival" />
                    <div class="text-center pt-2">
                      <strong>
                      Celebration of Dussehra Festival												<br />
                      Date:
                      24-10-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/celebration-of-mission-chandrayan-iii">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231011_67658871.jpeg" alt="Celebration of Mission Chandrayan -III" />
                    <div class="text-center pt-2">
                      <strong>
                      Celebration of Mission Chandrayan -III												<br />
                      Date:
                      11-10-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/special-assembly-to-honour-the-sports-cadets">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231021_84981930.jpeg" alt="Special Assembly to honour the sports cadets" />
                    <div class="text-center pt-2">
                      <strong>
                      Special Assembly to honour the sports cadets												<br />
                      Date:
                      21-10-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-volleyball-championship-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230813_43046117.jpeg" alt="Inter House Volleyball Championship 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      Inter House Volleyball Championship 2023												<br />
                      Date:
                      13-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/visit-of-col-rishma-sarin-army-service-corps">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230918_76163599.jpeg" alt="Visit of Col Rishma Sarin Army Service Corps" />
                    <div class="text-center pt-2">
                      <strong>
                      Visit of Col Rishma Sarin Army Service Corps												<br />
                      Date:
                      18-09-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/jhansi-district-olympics-games-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230912_14153070.jpeg" alt="Jhansi District Olympics Games 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      Jhansi District Olympics Games 2023												<br />
                      Date:
                      12-09-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/teachers-day-celebrations-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230905_54972174.jpg" alt="teacher's day celebrations 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      teacher's day celebrations 2023												<br />
                      Date:
                      05-09-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/interhouse-memory-game-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230826_14787942.jpg" alt="interhouse memory game 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      interhouse memory game 2023												<br />
                      Date:
                      26-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/Presentation-On-Topic-Recommendations-On-Cbse-Principal-Exposure-Visit-To-IIMB-By-Asst-Master-Mr-Amrit-Chaurasia">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230822_59618585.jpeg" alt="Presentation On Topic Recommendations On Cbse Principal Exposure Visit To IIMB By Asst Master Mr Amrit Chaurasia" />
                    <div class="text-center pt-2">
                      <strong>
                      Presentation On Topic Recommendations On Cbse Principal Exposure Visit To IIMB By Asst Master Mr Amrit Chaurasia												<br />
                      Date:
                      22-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/presentation-on-topic-who-is-listening-to-the-teacher-by-asst-master-mrs-priya-bahuguna">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230821_16934006.jpeg" alt="presentation on topic who is listening to the teacher by asst master mrs priya bahuguna" />
                    <div class="text-center pt-2">
                      <strong>
                      presentation on topic who is listening to the teacher by asst master mrs priya bahuguna												<br />
                      Date:
                      21-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/interhouse-photography-competition-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230819_84098939.jpeg" alt="interhouse photography competition 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      interhouse photography competition 2023												<br />
                      Date:
                      19-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/independence-day-2023-celebration">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230815_41793426.jpeg" alt="independence day 2023 celebration" />
                    <div class="text-center pt-2">
                      <strong>
                      independence day 2023 celebration												<br />
                      Date:
                      15-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/5th-raising-day-celebration">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230803_94806075.jpeg" alt="5th raising day celebration" />
                    <div class="text-center pt-2">
                      <strong>
                      5th raising day celebration												<br />
                      Date:
                      03-08-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-football-championship-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230515_44253186.jpeg" alt="inter house football championship 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house football championship 2023												<br />
                      Date:
                      15-05-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-hindi-poem-competition-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230511_92035746.jpeg" alt="inter house hindi poem competition 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house hindi poem competition 2023												<br />
                      Date:
                      11-05-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-english-extempore-competition-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230413_93503015.jpeg" alt="inter house English extempore competition 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house English extempore competition 2023												<br />
                      Date:
                      13-04-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/first-annual-function-urja-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230221_56763688.jpeg" alt="first annual function urja 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      first annual function urja 2023												<br />
                      Date:
                      21-02-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/celebration-of-republic-day-2023">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230126_22632291.jpeg" alt="celebration of republic day 2023" />
                    <div class="text-center pt-2">
                      <strong>
                      celebration of republic day 2023												<br />
                      Date:
                      26-01-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/air-force-station-gwalior-visit">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20230117_69158351.jpeg" alt="air force station Gwalior visit" />
                    <div class="text-center pt-2">
                      <strong>
                      air force station Gwalior visit												<br />
                      Date:
                      17-01-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/visit-of-corps-commander-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20221202_40072448.jpeg" alt="visit of corps commander 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      visit of corps commander 2022												<br />
                      Date:
                      02-12-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/lba-meet-5">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20221202_55380317.jpeg" alt="lba meet 5" />
                    <div class="text-center pt-2">
                      <strong>
                      lba meet 5												<br />
                      Date:
                      02-12-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/childrens-day-celebrations-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20221130_18897994.jpeg" alt="children's day celebrations 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      children's day celebrations 2022												<br />
                      Date:
                      30-11-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-basketball-championship-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20221027_65647927.jpeg" alt="inter house basketball championship 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house basketball championship 2022												<br />
                      Date:
                      27-10-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-volleyball-competition-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220917_49507377.jpeg" alt="inter house volleyball competition 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house volleyball competition 2022												<br />
                      Date:
                      17-09-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/swimming-facility-at-31-armd-div">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220209_68184743.jpeg" alt="swimming facility at 31 armd div" />
                    <div class="text-center pt-2">
                      <strong>
                      swimming facility at 31 armd div												<br />
                      Date:
                      09-02-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/weapon-display-at-31-armd-div-cant">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220819_37663373.JPG" alt="weapon display at 31 armd div cant" />
                    <div class="text-center pt-2">
                      <strong>
                      weapon display at 31 armd div cant												<br />
                      Date:
                      19-08-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/raising-day-celebration-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220816_49932681.JPG" alt="raising day celebration 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      raising day celebration 2022												<br />
                      Date:
                      16-08-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/independence-day-celebration-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220815_46033634.jpeg" alt="independence day celebration 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      independence day celebration 2022												<br />
                      Date:
                      15-08-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/har-ghar-tiranga-celebration-of-azadi-ka-amrit-mahotsav">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220727_57727943.jpeg" alt="har ghar tiranga celebration of azadi ka amrit mahotsav" />
                    <div class="text-center pt-2">
                      <strong>
                      har ghar tiranga celebration of azadi ka amrit mahotsav												<br />
                      Date:
                      27-07-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-football-competition">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220503_41568198.jpeg" alt="inter house football competition" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house football competition												<br />
                      Date:
                      03-05-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/inter-house-poem-recitation-competition-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220424_67785389.jpeg" alt="inter house poem recitation competition 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      inter house poem recitation competition 2022												<br />
                      Date:
                      24-04-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/republic-day-2022">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20220126_30706062.jpg" alt="republic day 2022" />
                    <div class="text-center pt-2">
                      <strong>
                      republic day 2022												<br />
                      Date:
                      26-01-2022											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/swarnim-vijay-varsh">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20211201_82458057.jpeg" alt="swarnim vijay varsh" />
                    <div class="text-center pt-2">
                      <strong>
                      swarnim vijay varsh												<br />
                      Date:
                      01-12-2021											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/rashtra-raksha-samparpan-parv">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231207_oJtRIxRuMJ.jpg" alt="rashtra raksha samparpan parv" />
                    <div class="text-center pt-2">
                      <strong>
                      rashtra raksha samparpan parv												<br />
                      Date:
                      07-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/lba-meet-2021">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20211008_44220485.jpg" alt="lba meet 2021" />
                    <div class="text-center pt-2">
                      <strong>
                      lba meet 2021												<br />
                      Date:
                      08-10-2021											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/independence-day-celebration-2020">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20200815_76480668.jpg" alt="independence day celebration 2020" />
                    <div class="text-center pt-2">
                      <strong>
                      independence day celebration 2020												<br />
                      Date:
                      15-08-2020											</strong>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="courses-bx-2 p-2 bg-white shadow">
                  <a href="https://sainikschooljhansi.com/album/annual-sports-day-2020">
                    <img src="https://sainikschooljhansi.com/images/photogallery/IMG_20231207_S9A7wmtkIg.jpg" alt="Annual sports day 2020" />
                    <div class="text-center pt-2">
                      <strong>
                      Annual sports day 2020												<br />
                      Date:
                      07-12-2023											</strong>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="text-center pt-5">
              <a href="https://sainikschooljhansi.com/photogallery" class="btn">View All Events</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="scroltop fa fa-chevron-up" ></button>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  	$('.marquee').marquee({
         speed: 40,
         gap: 0,
         delayBeforeStart: 0,
         direction: 'left',
         duplicated: false,
         pauseOnHover: true
     });
     $('.marquee1').marquee({
         speed: 40,
         gap: 0,
         delayBeforeStart: 0,
         direction: 'up',
         duplicated: false,
         pauseOnHover: true
     });
  })
</script>
<script>
  $.fn.extend({
      treed: function (o) {
          var tree = $(this);
          tree.addClass("tree");
          tree.find('li').has("ul").each(function () {
              var branch = $(this); //li with children ul
              branch.addClass('branch');
              $(this).children().children().toggle();
              branch.children().children().toggle();
          });
      }
  });
  //Initialization of treeviews
  $('#tree1').treed();
  
       // fancybox
          $('[data-fancybox]').fancybox({
              toolbar: true,
              smallBtn: "auto",
              buttons: [
                  "zoom",
                  "share",
                  "slideShow",
                  "fullScreen",
                  "download",
                  "thumbs",
                  "close"
              ],
              btnTpl: {
                  'my-zoom': '<button class="fancybox-button" title="{{ZOOM}}">+/-</button>'
              },
              image: {
                  preload: true
              },
             clickOutside: "close",
          });
          
</script>